.textField {
    width: 600px;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #a583e9;
    border-radius: 5px;
    margin-bottom: 10px;
    line-height: 60px;
}

.textAreaField {
    width: 505px;
    height: 55px;
    border-radius: 5px;
    color: #ffff;
}

input.reg::placeholder{ color: #ffff;}

.btnAddMessage {
    height: 55px;
    padding: 5px;
}

.message_text {
    background-color: #a583e9;
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px;
}

.message_author {
font-weight: 600;
}